<div class="content-root">
    <div class="container" style="background-image: url({{src}});">
    <div class="left">
        <h3>meteo.</h3>
        <div class="partial-title">
            <p>{{start}}</p>
        </div>
    </div>
    <div class="right">
        <h3>&nbsp;</h3>
        <div class="partial-title">
        <p class="text" style="background: url({{src}});">{{end}}</p>
        </div>
        <div class="meteo">
        <div class="info">
            <img src="https://openweathermap.org/img/w/{{icon}}.png" alt="">
            &nbsp; 
            <strong>{{min}}°</strong>
            <strong>|</strong> 
            <strong>{{max}}°</strong>
        </div>
        <p style="font-size: 12px; color: #4F7282;">{{description}}</p>
        </div>
    </div>
    </div>
</div>